Repository valkey-io/valkey, pull requests merged in 2025-06, with the labels that each got.

#1384 Add CLUSTER FLUSHSLOT command
  src/cluster.c
  src/cluster.h
  src/cluster_legacy.c
  src/commands.def
  src/commands/cluster-flushslot.json
  tests/unit/cluster/cluster-flush-slot.tcl
Labels: release-notes, needs-doc-pr

#2129 Combine range element ranks calculation with range elements search to improve zcount performance
  src/geo.c
  src/module.c
  src/server.h
  src/t_zset.c
Labels: release-notes, performance

#2078 Reply Copy Avoidance
  src/cluster_slot_stats.c
  src/cluster_slot_stats.h
  src/config.c
  src/io_threads.c
  src/memory_prefetch.c
  src/networking.c
  src/replication.c
  src/server.c
  src/server.h
  src/unit/test_files.h
  src/unit/test_listpack.c
  src/unit/test_networking.c
  src/unit/test_ziplist.c
  tests/instances.tcl
  tests/integration/aof.tcl
  tests/support/server.tcl
  tests/unit/client-eviction.tcl
  tests/unit/cluster/slot-stats.tcl
  tests/unit/commandlog.tcl
  tests/unit/info.tcl
  tests/unit/maxmemory.tcl
  tests/unit/obuf-limits.tcl
  tests/unit/replybufsize.tcl
Labels: release-notes, run-extra-tests

#2176 Run external cluster tests with multiple databases
  .github/workflows/external.yml
  tests/helpers/gen_write_load.tcl
  tests/instances.tcl
  tests/integration/aof.tcl
  tests/integration/replication-psync.tcl
  tests/support/util.tcl
  tests/test_helper.tcl
  tests/unit/dump.tcl
  tests/unit/keyspace.tcl
  tests/unit/multi.tcl
  tests/unit/type/list.tcl
  tests/unit/type/stream-cgroups.tcl
Labels: run-extra-tests

#2196 Add packet-drop to fix the new flaky failover test
  tests/unit/cluster/failover2.tcl
Labels: run-extra-tests

#1743 Support for RDB analysis reports
  src/valkey-check-rdb.c
  tests/integration/valkey-check-rdb.tcl
Labels: release-notes, to-be-merged

#2225 Fix the incorrect stdout redirect logic
  src/valkey-check-rdb.c
Labels: run-extra-tests

#2223 Add non-fatal unit test assertions
  src/unit/README.md
  src/unit/test_help.h
  src/unit/test_main.c
Labels: to-be-merged

#2229 Ensure empty error tables in scripts don't crash Valkey
  src/lua/script_lua.c
  tests/unit/scripting.tcl
Labels: run-extra-tests

#2174 Converge divergent shard-id persisted in nodes.conf to primary's shard id
  src/cluster_legacy.c
  tests/assets/divergent-shard-1.conf
  tests/assets/divergent-shard-2.conf
  tests/assets/divergent-shard-3.conf
  tests/assets/divergent-shard-4.conf
  tests/test_helper.tcl
  tests/unit/cluster/divergent-cluster-shardid-conf.tcl
Labels: run-extra-tests

#2264 Optimize CLUSTER INFO
  src/cluster_legacy.c
Labels: cluster

#2280 Use objectGetExpire instead of getExpire to reduce expire hashtable lookup
  src/cluster.c
  src/db.c
  src/debug.c
  src/expire.c
  src/module.c
  src/object.c
  src/rdb.c
Labels: run-extra-tests
