Repository valkey-io/valkey, pull requests merged in 2025-08, with the labels that each got.

#2378 support negative filtering for client command filters
  src/commands.def
  src/commands/client-kill.json
  src/commands/client-list.json
  src/networking.c
  tests/unit/introspection.tcl
Labels: release-notes, needs-doc-pr

#2421 Increase latency for big list test in defrag
  tests/unit/memefficiency.tcl
Labels: run-extra-tests

#1949 Introduce atomic slot migration
  cmake/Modules/SourceFiles.cmake
  src/Makefile
  src/aof.c
  src/blocked.c
  src/cluster.c
  src/cluster.h
  src/cluster_legacy.c
  src/cluster_legacy.h
  src/cluster_migrateslots.c
  src/cluster_migrateslots.h
  src/commands.def
  src/commands/cluster-cancelslotmigrations.json
  src/commands/cluster-getslotmigrations.json
  src/commands/cluster-migrateslots.json
  src/commands/cluster-syncslots.json
  src/commands/memory-stats.json
  src/config.c
  src/db.c
  src/debug.c
  src/evict.c
  src/expire.c
  src/hashtable.h
  src/io_threads.c
  src/kvstore.c
  src/kvstore.h
  src/module.c
  src/networking.c
  src/object.c
  src/rdb.c
  src/rdb.h
  src/replication.c
  src/server.c
  src/server.h
  src/t_set.c
  src/t_stream.c
  tests/integration/dual-channel-replication.tcl
  tests/support/util.tcl
  tests/unit/cluster/cluster-migrateslots.tcl
  utils/req-res-log-validator.py
  valkey.conf
Labels: cluster, run-extra-tests

#2431 Change the same shard failover assert to if condition to avoid crash
  src/cluster_legacy.c
  tests/unit/cluster/manual-failover.tcl
Labels: run-extra-tests

#2485 Fixing Slot Migration Test Failure
  tests/unit/cluster/cluster-migrateslots.tcl
Labels: run-extra-tests

#2483 Fix timeout in defrag tests
  tests/unit/memefficiency.tcl
Labels: run-extra-tests

#2505 fix hash ignore ttl management during active expiry
  src/db.c
  src/server.c
  src/t_hash.c
  src/unit/test_files.h
  src/unit/test_vset.c
  src/vset.c
Labels: bug

#2434 Skip failure reports for already failed nodes
  src/cluster_legacy.c
  src/commands.def
  src/commands/cluster-count-failure-reports.json
  tests/unit/cluster/failure-marking.tcl
  tests/unit/cluster/human-announced-nodename.tcl
Labels: needs-doc-pr, run-extra-tests

#2514 Refactor scanLaterList to fix latency issue
  src/defrag.c
  tests/unit/memefficiency.tcl
Labels: run-extra-tests

#2092 Optimize pipelining by parsing and prefetching multiple commands
  src/kvstore.c
  src/memory_prefetch.c
  src/module.c
  src/networking.c
  src/server.c
  src/server.h
  tests/unit/auth.tcl
  tests/unit/protocol.tcl
  valkey.conf
Labels: run-extra-tests
