Repository valkey-io/valkey, pull requests merged in 2025-03, with the labels that each got.

#1816 Enable large-memory tests solo runs in daily workflow
  .github/workflows/daily.yml
  tests/unit/bitops.tcl
  tests/unit/moduleapi/stream.tcl
  tests/unit/type/list.tcl
  tests/unit/type/set.tcl
  tests/unit/violations.tcl
Labels: run-extra-tests

#1823 Fix bug where invalidation messages were getting sent to closing clients
  src/tracking.c
  tests/unit/tracking.tcl
Labels: release-notes, run-extra-tests

#1834 Update CloseKey module API documentation to avoid use-after-free behavior
  src/module.c
Labels: documentation

#1850 Fix RANDOMKEY infinite loop during CLIENT PAUSE
  src/db.c
  tests/unit/pause.tcl
Labels: release-notes
